<h2 mat-dialog-title>{{guarni? 'Editar' : 'Añadir'}} guarnición</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50">
        <div  fxLayout="column">

          <div fxLayout="column" fxFlex >

            <mat-form-field appearance="standard">
              <mat-label>Nombre (Español)</mat-label>
              <input matInput formControlName="name_side_dish_es" #name_side_dish_es>
              <mat-error *ngIf="(form.get('name_side_dish_es')).errors?.required">Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Nombre (Ingles)</mat-label>
              <input matInput formControlName="name_side_dish_en" #name_side_dish_en>
              <mat-error *ngIf="(form.get('name_side_dish_en')).errors?.required">Este campo es obligatorio</mat-error>
            </mat-form-field>
           
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="50">
                <mat-form-field appearance="standard">
                  <mat-label>Precio (CUP)</mat-label>
                  <input matInput formControlName="price_cup" #price_cup>
                  <mat-error *ngIf="(form.get('price_cup')).errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
              <!--
              <div fxFlex="50">
                <mat-form-field appearance="standard">
                  <mat-label>Precio (USD)</mat-label>
                  <input matInput formControlName="price_usd" #price_usd>
                  <mat-error *ngIf="(form.get('price_usd')).errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
              -->
            </div>

          </div>

        </div>

      </div>
      <div fxFlex="50">
        <div fxLayout="column" fxFlex>

          <mat-form-field appearance="standard">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="type_side_dish_id" [compareWith]="compareWithFunc">
              <mat-option *ngFor="let guarniGroup of guarniGroup" value="{{guarniGroup.id}}">{{guarniGroup.name_type_side_dish_es}}</mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>

      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial [disabled]="!form.valid" (click)="save()">Aceptar</button>
</mat-dialog-actions>
