
<form [formGroup]="form" style="min-width: 100% !important;">
    <mat-form-field appearance="outline"  style="min-width: 100% !important;">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput style="min-width: 100% !important;">
        <mat-error> Este campo es requerido </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"  style="width: 100%;">
        <mat-label>Telefono</mat-label>
        <input formControlName="telefono" matInput style="width: 100%;">
        <mat-error> Este campo es requerido </mat-error>
    </mat-form-field>
    
        <label>Dirección linea 1 hbxhuhxuuuuuuuuuuuuuuuhduhihjihiji</label>
        <input matInput formControlName="fhentrega" style="width: 100%;">
      
    
</form>
