<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/">{{title}}</button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/game">
      <mat-icon>restaurant</mat-icon>
        Restaurant
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
        Salir
    </button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8">
    <!--
    <img class="avatar mat-elevation-z8" src="#" />
    <h4 class="name"></h4>
    <p class="designation"></p>
    -->
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="navigateTo('dashboard')">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="navigateTo('daily-offers')">
        <mat-icon>menu_book</mat-icon>
        <span>Ofertas del dia</span>
    </button>

    <button mat-button class="menu-button" (click)="navigateTo('special-offers')">
      <mat-icon>dinner_dining</mat-icon>
      <span>Ofertas especiales</span>
    </button>

    <button mat-button class="menu-button" (click)="navigateTo('offers')">
        <mat-icon>food_bank</mat-icon>
        <span>Platillos</span>
    </button>

    <button mat-button class="menu-button" (click)="navigateTo('offer-groups')">
      <mat-icon>kebab_dining</mat-icon>
      <span>Categorías</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>badge</mat-icon>
      <span>Presentación</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>work_history</mat-icon>
      <span>Historia</span>
    </button>

    <button mat-button class="menu-button">
        <mat-icon>collections</mat-icon>
        <span>Galería</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>breakfast_dining</mat-icon>
      <span>Chef</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>

  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

