.category-card {
  height: 100%;
}

.cards-container, .subcategory-container {
  padding-top: 10px;
}

.btn-subcategory-sep {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: start;
}

