.category-card {
  height: auto;
}

.cards-container, .subcategory-container {
  padding-top: 10px;
}

.btn-subcategory-sep {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: black !important;
  font-size: 16px !important;
}

