::ng-deep menu-offer-card {

  .mat-card-title, .mat-card-subtitle {
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
  }

  .mat-card-header-text {
    display: none;
  }
}

.btn-offer-action {
  margin: 0px !important;
  padding: 0 5px 0 5px;
}

.btns-offer-panel {
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
}

.offer-star-rate {
  margin-left: -5px;
}

.manu-offer-name {
  height: 35px;
  display: flex;
  align-items: center;
}
