<mat-card class="example-card">
  <mat-card-header>
    <div fxLayout="column">
        <strong class="manu-offer-name">{{name_offer(dailyOffer) | uppercase }}</strong>
        <shared-star-rate
            class="offer-star-rate"
            [rating]="rating"
            [starCount]="starCount"
            [color]="starColor"
            (ratingUpdated)="onRatingChanged($event)">
        </shared-star-rate>
    </div>
  </mat-card-header>
  <img mat-card-image src="{{dailyOffer?.url_imagen}}" alt="Photo of a Shiba Inu">

  <mat-card-actions class="btns-offer-panel">
    <mat-card-subtitle>{{dailyOffer.price_cup}} CUP / {{dailyOffer.price_usd}} USD</mat-card-subtitle>
    <button mat-button
       (click)="addOfferToCar(dailyOffer)"
       matTooltip="{{'menu-offer-item.add-to-car' | translate }}"
       class="btn-offer-action">
       <mat-icon>add_shopping_cart</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>

<!--
  <button mat-button
        (click)="evalRateOffer(dailyOffer)"
        matTooltip="{{'menu-offer-item.eval-rate' | translate }}"
        class="btn-offer-action">
        <mat-icon>hotel_class</mat-icon>
    </button>
    <button mat-button
        (click)="shareOffer(dailyOffer)"
        matTooltip="{{'menu-offer-item.share' | translate }}"
        class="btn-offer-action">
        <mat-icon>share</mat-icon>
    </button>
-->
