<!--<h2 mat-dialog-title align="center" >CHECKOUT</h2>-->

<mat-dialog-content >

  <mat-horizontal-stepper [linear]="isLinear" #stepperHorizontal >
    <mat-step>
      <ng-template matStepLabel>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>shopping_cart</mat-icon>
          <span *ngIf="!smallScreen">{{'checkout.confirm-order' | translate }}</span>
        </div>
      </ng-template> 
      <ng-container *ngTemplateOutlet="step1"></ng-container>
      <button mat-button  mat-dialog-close >Atras</button> 
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>local_shipping</mat-icon>
          <span *ngIf="!smallScreen">{{'checkout.delivery-data' | translate }}</span>
        </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="step2"></ng-container>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>credit_card</mat-icon>
          <span *ngIf="!smallScreen">{{'checkout.make-payment' | translate }}</span>
        </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="step3" ></ng-container>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button >Aceptar</button>
    </mat-step>
    
  </mat-horizontal-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="Cancelar()">Cancelar</button>  
  
</mat-dialog-actions>

<ng-template #step1 >
  <mat-divider></mat-divider>
  <menu-confirm-order [selectionCar]="selectionCar"></menu-confirm-order>
</ng-template>

<ng-template #step2>
  <mat-divider></mat-divider>
  <menu-delivery-data></menu-delivery-data>
</ng-template>

<ng-template #step3>
  <mat-divider></mat-divider>
  <menu-make-payment></menu-make-payment>
</ng-template>
