::ng-deep menu-checkout {

  .mat-list-item-content {
    width: 100%;
  }

  .mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  .mat-step-icon {
    display: none;
  }

  .mat-horizontal-content-container {
    padding: 0px;
  }

  .mat-list-item-content {
    padding: 0px !important;
  }
}


