.sidenav-category {
  height: 89%;
  padding-bottom: 5px;
}

.white-icon {
  color: white;
  margin-right: 0px !important;
}

.btn-toolbar-car {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

