<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-menu-item (click)="showCart()" class="btn-toolbar-car">
    <mat-icon matBadge="15" matBadgeColor="warn" class="white-icon">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <menu-summary
      *ngFor="let category of dailyOfferItems; let i = index"
      [category]="category"
      (selected)="onCategorySelected(i)">
  </menu-summary>
</mat-menu>

<mat-sidenav-container class="sidenav-category">
  <mat-sidenav mode="side" opened fxHide.xs>
    <ng-container *ngIf="dailyOfferItems.length > 0">
      <menu-summary
          *ngFor="let category of dailyOfferItems; let i = index"
          [category]="category"
          (selected)="onCategorySelected(i)">
      </menu-summary>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
      <menu-category [category]="dailyOfferItems[categorySelectedIndex]"></menu-category>
  </mat-sidenav-content>
</mat-sidenav-container>
