.sidenav-category {
  height: 89%;
  padding-bottom: 5px;
}

.white-icon {
  color: white;
  margin-right: 0px !important;
}

.btn-toolbar-car {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manu-toolbar-spacer {
  flex: 1 1 auto;
}

::ng-deep {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 15px !important;
    width: 65px;
  }

  .mat-select-value-text {
    display: flex;
    justify-content: flex-end;
  }

  .mat-option {
    height: 40px !important;
  }
}

