<mat-list>
  <ng-container *ngFor="let dailyOffer of selectionCar">

    <mat-list-item fxLayout="row">
      <div fxFlex="62">
        <div mat-line>
          <strong>{{name_offer(dailyOffer)}}</strong>
        </div>
        <div mat-line *ngIf="true">
          Agregos/Guarniciones (#)
        </div>
      </div>

      <div fxFlex="8" fxLayoutAlign="center center">
        <span>1</span>
      </div>

      <div fxFlex="16" fxLayoutAlign="end center">
        <span>{{dailyOffer?.price_cup}}</span>
      </div>

      <div fxFlex="14" fxLayoutAlign="end center">
        <button mat-icon-button color="primary">
          <mat-icon>edit_note</mat-icon>
        </button>
      </div>

    </mat-list-item>
    <mat-divider></mat-divider>

  </ng-container>
</mat-list>
