<!--
<mat-list>
  <ng-container *ngFor="let dailyOffer of selectionCar">

    <mat-list-item fxLayout="row">
      <div fxFlex="62">
        <div mat-line>
          <strong>{{name_offer(dailyOffer)}}</strong>
        </div>
        <div mat-line *ngIf="true">
          Agregos/Guarniciones ({{number_guarni(dailyOffer)}})
        </div>
        <div mat-line *ngFor="let i of dailyOffer.selected_guarni">
          {{name_guarni(i)}}({{cant_selected(i)}})
        </div>
        
      </div>

      <div fxFlex="8" fxLayoutAlign="center center">
        <span>1</span>
      </div>

      <div fxFlex="16" fxLayoutAlign="end center">
        <span>{{dailyOffer?.price_cup}}</span>
      </div>

      <div fxFlex="14" fxLayoutAlign="end center">
        <button mat-icon-button color="primary">
          <mat-icon>edit_note</mat-icon>
        </button>
      </div>

    </mat-list-item>
    <mat-divider></mat-divider>

  </ng-container>
</mat-list>
--> 
<div class="flex-container" *ngFor="let data of selectionCar; let index = index"
    fxLayout="row"
    fxLayoutAlign="space-between center">
 
  <table>
    
      <tr>
        <th scope="col" style="width:50%;"> <span style="margin-left: 10px;">{{data.name_offer_es | uppercase}}</span></th>
       <!-- <th scope="col" style="width:15%;text-align:right;">USD ${{data.price_usd}}</th>-->
        <th scope="col" style="width:15%;text-align:right;">${{priceWithCurrency(data.price_cup)}} {{Moneda()}}</th>
        <th scope="col" style="align-items: right; text-align:right;">
          <strong><button mat-icon-button   matTooltip="Eliminar" (click)="deleteOferta(index)"><mat-icon style="font-size: 18px;  align-items: right ;margin-top: 10px;">delete_outline</mat-icon></button></strong></th>
      </tr>
    
    
     <tr class="mat-elevation-z8" *ngFor="let guarni of data.selected_guarni; let ind = index">
      <td><strong style="text-align:left;margin-left: 10px;">{{name_guarni(guarni)}}({{cant_selected(guarni)}})</strong></td>
     <!-- <td style="text-align:right;"><strong >${{guarni.price_usd*guarni.cant_selected}}</strong></td>-->
      <td style="text-align:right;"><strong >${{priceWithCurrency(guarni.price_cup)*guarni.cant_selected}} {{Moneda()}}</strong></td>
      <td style="align-items: right;text-align:right;"><strong>
                  <button mat-icon-button   matTooltip="Aumentar" (click)="addGuarni(guarni)"><mat-icon style="font-size: 18px;  align-items: right ;margin-top: 10px;">add</mat-icon></button>
                  <button mat-icon-button   matTooltip="Disminuir" (click)="removeGuarni(guarni)"><mat-icon style="font-size: 18px;  align-items: right ;margin-top: 10px;">remove</mat-icon></button>
                  <button mat-icon-button   matTooltip="Eliminar" (click)="deleteGuarni(index,ind)"><mat-icon style="font-size: 18px;  align-items: right ;margin-top: 10px;">delete_outline</mat-icon></button></strong></td>
     </tr>
     <tr>
      <td style="text-align:right;"><strong style="margin-left: 10px;">Total</strong></td>
    <!-- <td style="text-align:right;"><strong>${{subTotalusd(data)}}</strong></td> -->
      <td style="text-align:right;"><strong>${{priceWithCurrency(subTotalcup(data))}} {{Moneda()}}</strong></td>
     </tr>
  </table>
</div>


 <!-- 
 <table mat-table [dataSource]="ELEMENT_DATA">
    
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>
 
  <ng-container matColumnDef="name_offer_es">
    <th mat-header-cell *matHeaderCellDef> Nombre de la guarnición (Esp) </th>
    <td mat-cell *matCellDef="let element"> {{element.name_side_dish_es}} </td>
  </ng-container>
 

  <ng-container matColumnDef="price_cup">
    <th mat-header-cell *matHeaderCellDef> Precio (CUP) </th>
    <td mat-cell *matCellDef="let element"> {{element.price_cup}} </td>
  </ng-container>

  <ng-container matColumnDef="price_usd">
    <th mat-header-cell *matHeaderCellDef> Precio (USD) </th>
    <td mat-cell *matCellDef="let element"> {{element.price_usd}} </td>
  </ng-container>

  
  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef> Operaciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" class="table-operation-btn" matTooltip="Editar" (click)="editar()"><mat-icon>edit</mat-icon></button>
      <button mat-button color="warn" class="table-operation-btn" matTooltip="Eliminar" (click)="eliminar()"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
 </div>
</div> 
-->