<h2 mat-dialog-title>Opciones de guarnición para la oferta seleccionada </h2>
<mat-dialog-content class="mat-typography">

    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expandir</button>
        <button mat-button (click)="accordion.closeAll()">Recoger</button>
    </div>
      <mat-accordion class="example-headers-align" multi>
        <div *ngFor="let typeguarni of datadialog">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title >
            <mat-icon>subdirectory_arrow_right</mat-icon>
              Tipo de guarnición
             </mat-panel-title>
            <mat-panel-description>
             {{typeguarni.name_type_side_dish_es | uppercase}}
             <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

            <ng-container *ngFor="let guarni of typeguarni.arrGuarni" >
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
              <span>{{guarni.name_side_dish_es | uppercase}}</span>
              <span>${{guarni.price_cup }}</span>
              <mat-form-field appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number"  [(ngModel)]="guarni.cant_selected" min="1">
              </mat-form-field>
              <mat-slide-toggle 
                [checked]="false"
                (change)="msg($event,guarni)">
              </mat-slide-toggle>
            </div>
            </ng-container>
         
        </mat-expansion-panel>
      </div>
      
      </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial  (click)="confirmarGuarni()">Aceptar</button>
</mat-dialog-actions>